.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.popup-content {
    width: 80%; /* Adjust width as needed */
    height: 80%; /* Adjust height as needed */
    background-color: white; /* Background for the popup */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow */
}
